main {
    .article-header {
        h1 {
            text-align: center; 
        }

        .main-image {
            display: flex;
            justify-content: center;

            img {
                @media (max-width: 768px) {
                    width: 90%;
                    height: auto;
                }
            }
        }
    }
}